{% extends getUcdTemplate('base') %}

{% block content_container %}
<div class="l-container l-basic--flipped">
  <h1>Testing from twig</h1>
  <div class="l-content">
    {{post.content}}
  </div>
  <div class="l-sidebar-second">
    {{sidebar}}
  </div>
</div>

{% endblock %}