{% extends getUcdTemplate('base') %}

{% block content %}
  <p>{{foo}}</p>
  <ucdlib-hours-today
    api-host="{{site.site_url}}"
  ></ucdlib-hours-today>
  {{dump(post.core_data)}}
  {{post.content}}
{% endblock %}

