{% set p = siteContext.post %}
{% if p.directoryTags %}
  <div>
    <h2 class="heading--auxiliary">Directory Tags</h2>
    {% for tag in p.directoryTags %}
      <a class="tags__tag">{{tag.name}}</a>
    {% endfor %}
  </div>
{% endif %}