{% if attributes.tags and not attributes.hide %}
  <div>
    <h2 class="heading--auxiliary">Areas of Expertise</h2>
    <p>
    {% apply spaceless %}
      {% for tag in attributes.tags %}
        <span>{{tag.name}}</span>
        {% if not loop.last and loop.length > 1 %}
          <span>, </span>
        {% endif %}
      {% endfor %}
    {% endapply %}
    </p>
  </div>
{% endif %}