{% if attributes.title %}
  <h2>{{attributes.title}}</h2>
{% endif %}
{% if attributes.department %}
  <ul class="unit-list">
    <li class="field__item">{{attributes.department}}</li>
  </ul>
{% endif %}