{% set p = siteContext.post %}
{% if p.positionTitle %}
  <h2 class='u-space-mt--flush'>{{p.positionTitle}}</h2>
{% endif %}
{% if p.departments %}
  <ul class="unit-list">
    {% for department in p.departments %}
      <li class="field__item">{{department.title}}</li>
    {% endfor %}
  </ul>
{% endif %}