{% set p = siteContext.post %}

{% if (p.exhibitLocationMap.url or p.exhibitLocationDirections) and not p.exhibitIsPast %}
  <aside class='panel o-box'>
    <div class="location-widget">
      <h2 class='heading--highlight u-space-mb'>Exhibit Location</h2>
      {% if p.exhibitLocationDirections %}
        <p>{{p.exhibitLocationDirections}}</p>
      {% endif %}
      {% if p.exhibitLocationMap.url %}
        <img src='{{p.exhibitLocationMap.url}}'>
      {% endif %}
    </div>
  </aside>
{% endif %}