{% set p = siteContext.post %}

{% if (p.exhibitLocationMapWithDefault.src or p.exhibitLocationDirectionsWithDefault) and not p.exhibitIsPast %}
  <aside class='panel o-box'>
    <div class="location-widget">
      <h2 class='heading--highlight u-space-mb'>Exhibit Location</h2>
      {% if p.exhibitLocationDirectionsWithDefault %}
        <p>{{p.exhibitLocationDirectionsWithDefault}}</p>
      {% endif %}
      {% if p.exhibitLocationMapWithDefault.src %}
        <img src='{{p.exhibitLocationMapWithDefault.src}}'>
      {% endif %}
    </div>
  </aside>
{% endif %}