 {% from '@ucdlib-special/macros/exhibit.twig' import teaser %}

{% if attributes.years|length %}
  {% for year, exhibits in attributes.years %}
    <h2>{{year}}</h2>
    {% for exhibit in exhibits %}
      {{ teaser(exhibit, {options: attributes.teaserOptions}) }}
    {% endfor %}
  {% endfor %}
{% else %}
  <p>No exhibits found!</p>
{% endif %}