{% from "@ucdlib-directory/macros/collection.twig" import teaser, no_results %}
{% if attributes.collectionResults|length %}
  {% for collectionResults in attributes.collectionResults %}
    <div>
        {{teaser(collectionResults)}}
    </div>
  {% endfor %}
{% else %}
  {{ no_results() }}
{% endif %}