{% extends getUcdTemplate('base') %}

{% block content_container %}
  <div class="l-container">
    <div class="l-content u-space-mt--large">
      <div class="panel panel--center o-box u-space-mb--flush">
        <h2 class="heading--weighted-underline">Central Authentication Service (CAS)</h2>
        <p>{{message}}</p>
      </div>
    </div>
  </div>
{% endblock %}