<div class="wrap">
  <h1>{{title}}</h1>
  <form action="options.php" method="post">
    {{ function('settings_fields', slug) }}
    {{ function('do_settings_sections', slug) }}
    {{ function('submit_button', 'Save') }}
  </form>
</div>