{% if not post.hide_author %}
  <li><span class="byline">by {{not post.hide_og_author ? author~','}}
    {% for author in post.additional_authors %}
      {{author.title}}{% if not loop.last %},&nbsp;{% endif %}
    {% endfor %}
  </span></li>
{% endif %}