{% macro teaser(collection) %}
  <div class="vm-teaser__body">
    <h3 class="vm-teaser__title" style="display: inline-block;">
      <a href="{{collection.link}}" style="text-decoration: underline; color: var(--ucd-blue-80)">{{collection.title}}</a> 
    </h3> ({{collection.callNumber}})
    <div class="vm-teaser__summary">
      {{ collection.description({words: 25}) }}
    </div>
  </div>
{% endmacro %}